/***********************************
ASH ROBBINS
***********************************/
html {
    font-size: 62.5%;
}
body {
    margin: 20px;
	color: #fff;
    background: #1a1a1a;
    font: normal 400 2rem/1.5 "PT Serif", Georgia, serif;
}
.wrapper {
    width: 720px;
    max-width: 96%;
    margin: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Antonio", Georgia, serif;
	font-weight: 700;
    text-transform: uppercase;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 26px;
}
h4 {
    font-size: 20px;
}

img {
    max-width: 100%;
}
