$use-px: true;
$compile_main: false;
$compile_ie: true;

@import 'dependency';

// Additional
.hero-carousel {
    .carousel-controls {
        menuitem {
            background: url('images/transparent.gif');
        }
    }
}
