<!DOCTYPE html>
<html>
    <head>
        <title>Ash Robbins</title>
        <link rel="shortcut icon" href="/img/favicon.png">

        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,700,700i,900,900i|Source+Serif+Pro:400,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#e73c3c">
    </head>
    <body>
        <script type="x-template" id="post-list">
            <main class="wrapper">
                <header class="c-header wrapper">
                    <h1 class="heading__page c-header__home-link">ash robbins<span class="s-red">.</span></h1>
                    <p class="c-header__tagline">Front End Developer at <a href="http://www.redweb.com" title="Redweb">Redweb</a></p>
                </header>
                <section class="c-post-list">
                    <article class="c-post" v-for="post in $root.posts" v-if="post.fields.slug">
                        <h2 class="heading__post">
                            <router-link v-bind:to="$root.postLink(post.fields.slug)" :title="post.fields.title">{{ post.fields.title }}</router-link>
                        </h2>
                        <span class="c-post__date">{{ $root.formatDate(post.fields.date, 'Do MMMM YYYY') }}</span>
                        <ul class="u-no-list c-post__categories">
                            <li v-for="category in post.fields.categories" class="c-post__category">
                                <router-link v-bind:to="$root.categoryLink(category.sys.id)">
                                    {{ $root.categoryName(category.sys.id) }}
                                </router-link>
                            </li>
                        </ul>
                    </article>
                </section>
            </main>
        </script>

        <script type="x-template" id="page">
            <main class="wrapper">
                <header class="c-header wrapper">
                    <h1 class="heading__page c-header__home-link">{{ $root.selectedPage.fields.title }}<span class="s-red">.</span></h1>
                </header>
                <section class="c-single-post">
                    <article class="c-post">
                        {{ $root.selectedPage.fields.body }}
                    </article>
                </section>
            </main>
        </script>

        <script type="x-template" id="category">
            <main class="wrapper">
                <header class="c-header wrapper">
                    <h1 class="heading__page c-header__home-link">posts tagged '{{ $root.selectedCategory }}'<span class="s-red">.</span></h1>

                </header>
                <section class="c-post-list">
                    <article class="c-post" v-for="post in $root.categoryList" v-if="post.fields.slug">
                        <h2 class="heading__post">
                            <router-link v-bind:to="$root.postLink(post.fields.slug)" :title="post.fields.title">{{ post.fields.title }}</router-link>
                        </h2>
                        <span class="c-post__date">{{ $root.formatDate(post.fields.date, 'Do MMMM YYYY') }}</span>
                        <ul class="u-no-list c-post__categories">
                            <li v-for="category in post.fields.categories" class="c-post__category">
                                <router-link v-bind:to="$root.categoryLink(category.sys.id)">
                                    {{ $root.categoryName(category.sys.id) }}
                                </router-link>
                            </li>
                        </ul>
                    </article>
                </section>
            </main>
        </script>

        <script type="x-template" id="post">
            <main class="wrapper">
                <header class="c-header c-header--single wrapper">
                    <h1 class="heading__page heading__page--single">
                        {{ $root.selectedPost.fields.title }}
                    </h1>
                </header>
                <article class="c-single-post">
                    <span class="c-post__date">{{ $root.formatDate($root.selectedPost.fields.date, 'Do MMMM YYYY') }}</span>
                    <ul class="u-no-list c-post__categories">
                        <li v-for="category in $root.selectedPost.fields.categories" class="c-post__category">
                            <router-link v-bind:to="$root.categoryLink(category.sys.id)">
                                {{ $root.categoryName(category.sys.id) }}
                            </router-link>
                        </li>
                    </ul>
                    <div class="c-post__content" v-html="$root.renderMarkdown($root.selectedPost.fields.body)"></div>
                </article>
            </main>
        </script>

        <div id="app">
            <nav class="c-nav">
                <div class="wrapper">
                    <router-link to="/" class="h1 heading__post">a<span class="s-red">.</span></router-link>
                    <ul class="c-nav__list u-no-list">
                        <li class="c-nav__item">
                            <router-link to="/page/about" class="c-nav__link">About</router-link>
                        </li>
                        <li class="c-nav__item">
                            <a href="http://www.codepen.io/ashrobbins" target="_blank" class="c-nav__link">Codepen</a>
                        </li>
                        <li class="c-nav__item">
                            <a href="http://www.twitter.com/ash_robbins" target="_blank" class="c-nav__link">Twitter</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <router-view></router-view>
        </div>

        <!-- Vue -->
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <!-- Lodash -->
        <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
        <!-- Vue-router -->
        <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
        <!-- Moment JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
        <!-- Markdown -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.6.4/showdown.min.js"></script>

        <script src="js/app.js"></script>
    </body>
</html>
