/***********************************
ASH ROBBINS
***********************************/
html {
    font-size: 62.5%;
}
body {
	color: #333;
    font: normal 400 2rem/1.5 "PT Serif", Georgia, serif;
}
.wrapper {
    width: 720px;
    max-width: 96%;
    margin: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "PT Serif", Georgia, serif;
	font-weight: 700;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 26px;
}
h4 {
    font-size: 20px;
}

img {
    max-width: 100%;
}


/* ASH ROBBINS
***********************************/
.post {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 2px dashed #ddd;
}
.post-title a {
    color: #333;
    text-decoration: none;
}
.post-content a {
    color: #333;
}
.post-title a:hover,
.post-content a:hover {
    color: red;
}
