/* SINGLE POSTS
***********************************/
.single-post {
    .post-image {
        position: relative;
        width: calc(100% + 40px);
        height: calc(100vh - 100px);
        max-height: 90%;
        @include u(margin-left, -2);
        @include u(margin-bottom, 3);
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .post-title,
    .post-date {
        position: absolute;
    }
    .post-title {
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        width: 100%;
        @include u(padding, 3, 20);
        margin: auto;
        background: $black;
        color: $white;
        @include u(font-size, 6.6);
        text-align: center;
    }
    .post-date {
        left: 0;
        top: 50%;
        color: $white;
        @include u(font-size, 1.6);
        @include Antonio-Bold;
        transform: translateY(-50%) rotate(270deg);
    }
    .post-content {
        @include u(font-size, 2);
        @include u(margin-bottom, 3);
    }
    .post-categories {
        @include Antonio-Bold;
        @include u(font-size, 1.5);
        text-transform: uppercase;
    }
}

@media only screen and (max-width: 950px) {
    .single-post {
        .post-title {
            @include u(padding, 3, 6);
            @include u(font-size, 5);
        }
    }
}

@media only screen and (max-width: 730px) {
    .single-post {
        .post-image {
            height: 50vh;
        }
        .post-title {
            @include u(font-size, 2.8);
        }
        .post-date {
            left: -10px;
        }
        .post-content {
            @include u(font-size, 1.6);
        }
    }
}
