/* POSTS
***********************************/
.post {
    width: 33%;
    width: calc(33% - 20px);
    float: left;
    @include u(margin-bottom, 2);
    margin-left: 20px;

    .post-title a,
    .post-content a {
        color: $black;

        &:hover {
            color: $primaryColour;
        }
    }
    .post-image {
        position: relative;
        @include u(margin-bottom, 1);
        overflow: hidden;
    }
    .post-title a {
        text-decoration: none;
    }
    .post-date {
        @include u(font-size, 1.6);
        @include Antonio-Bold;
    }
    &:first-child {
        position: relative;
        width: calc(100% + 40px);
        @include u(margin-left, -2);

        .post-details,
        .post-title,
        .post-date {
            position: absolute;
        }
        .post-image {
            width: 100%;
            height: calc(100vh - 100px);
            max-height: 90%;
        }
        .post-details {
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: calc(100% + 40px);
            @include u(margin-left, -2);
        }
        .post-title {
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            width: 100%;
            @include u(padding, 3, 20);
            margin: auto;
            background: $black;
            color: $white;
            @include u(font-size, 6.6);
            text-align: center;

            a {
                color: $white;

                &:hover {
                    color: $primaryColour;
                }
            }
        }
        .post-date {
            left: 0;
            top: 50%;
            color: $white;
            transform: translateY(-50%) rotate(270deg);
        }
    }
    &:nth-child(3n+2):not(:first-child) {
        clear: left;
        margin-left: 0;
    }
}

@media only screen and (max-width: 1060px) {

}
