/******************************************
LOGO
******************************************/
// .c-logo,
// .c-logo:visited {
//     display: inline-block;
//     margin-bottom: rem-calc(50);
//     padding-bottom: rem-calc(5);
//     @include title-font-black;
//     font-size: rem-calc(40);
//     line-height: 1;
//     color: $black;
//     border-bottom: 5px solid $black;
// }

// @include bp_max(600) {
//     .c-logo {
//         margin-bottom: rem-calc(30);
//         font-size: rem-calc(30);
//         border-bottom-width: rem-calc(3);
//     }
// }

.header-logo {
    a {
        color: $black !important;
    }
    
    span {
        color: transparent;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: black !important;
    }
    
    &:hover {
        
        a {
            color: $primary-colour !important;
        }
        
        span {
            -webkit-text-stroke-color: $primary-colour !important;
        }
    }
    
    .post-hero & {
        color: white !important;
        
        span {
            -webkit-text-stroke-color: white !important;
        }
        
        &:hover {
        
            a {
                color: $black !important;
            }

            span {
                -webkit-text-stroke-color: $black !important;
            }
        }
    }
}
