/******************************************
NAV
******************************************/
.c-nav-trigger {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: rem-calc(70);
    height: rem-calc(70);
    padding: 0;
    background: $white;
    transition: all .2s ease;

    svg {
        position: absolute;
        top: 2rem;
        right: 2rem;
        width: rem-calc(30);
        height: rem-calc(30);
        padding: rem-calc(0 5);
    }
    path {
        opacity: 1;
        transition: all linear .2s;
        fill: $black;
    }
    &:hover {

        path {
            fill: $primary-colour;
        }
    }
    &:focus {
        outline: none;
    }
    &.active {
        path:nth-child(1) {
            transform: rotate(45deg);
            transform-origin: 0 0;
        }
        path:nth-child(2) {
            opacity: 0;
        }
        path:nth-child(3) {
            transform: rotate(-45deg);
            transform-origin: 0 100%;
        }
    }
}
.c-nav {
    position: fixed;
    bottom: 0;
    right: -30rem;
    z-index: 1;
    width: 30rem;
    height: 100vh;
    padding: 3rem;
    background: $black;
    transition: all .2s ease;

    &.open {
        right: 0;
    }
}
.c-nav__item {
    display: block;
    margin: 0;
}
.c-nav__link {
    display: inline-block;
    position: relative;
    color: $white;
    @include title-font-heavy;
    font-size: 2rem;
    text-transform: uppercase;

    &:visited {
        color: $white;
    }
    &:hover,
    &.router-link-active {
        color: $white;
    }
    &:before {
        content: "";
        display: block;
        position: absolute;
        right: rem-calc(1);
        bottom: rem-calc(-3);
        left: rem-calc(1);
        height: rem-calc(3);
        background-color: $white;
        transform: scaleX(0);
        transform-origin: 100% 50%;
        transition: transform .4s cubic-bezier(.23,1,.32,1);
    }
    &:hover:before {
        transform: scaleX(1);
        transform-origin: 0 50%;
        transition: transform 0 .4s cubic-bezier(.23,1,.32,1);
    }
}
.c-nav__social .c-nav__item {
    display: block;
}
.c-nav__social .c-nav__link {
    font-size: 1.6rem;

    &:before {
        height: rem-calc(2);
    }
}