/******************************************
NAV
******************************************/
.c-nav-trigger {
    position: fixed;
    top: 0;
    right: 0;
    width: rem-calc(180);
    height: rem-calc(180);
    padding: 0;
    background: $primary-colour;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
    transition: all .2s ease;

    svg {
        position: fixed;
        top: 3vh;
        right: 3vh;
        width: rem-calc(40);
        height: rem-calc(40);
    }
    &:hover {
        width: rem-calc(200);
        height: rem-calc(200);
    }
}
.c-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: rem-calc(180);
    height: rem-calc(180);
    padding: 0;
    background: $primary-colour;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
    transition: all 1s ease;

    &.open {
        width: 200%;
        height: 200%;
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
    }
}
.c-nav__wrapper {
    position: fixed;
    top: 0;
    left: 0;
}
.c-nav__list {
}
.c-nav__item {
    display: block;
    margin: rem-calc(0 0 30 0);
}
.c-nav__link {
    display: inline-block;
    position: relative;
    color: $white;
    font-family: $title-font;
    font-size: rem-calc(50);
    text-transform: uppercase;

    &:hover,
    &.router-link-active {
        color: $black;
    }
}

@include bp_max(700) {
    .c-nav-trigger svg {
        width: rem-calc(30);
        height: rem-calc(30);
    }
}
