/******************************************
NAV
******************************************/
.c-nav-trigger {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: rem-calc(180);
    height: rem-calc(180);
    padding: 0;
    background: $primary-colour;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
    transition: all .2s ease;

    svg {
        position: fixed;
        top: 3vh;
        right: 3vh;
        width: rem-calc(40);
        height: rem-calc(40);
        padding: rem-calc(0 5);
    }
    path {
        opacity: 1;
        transition: all linear .2s;
        fill: $white;
    }
    &:hover {
        width: rem-calc(200);
        height: rem-calc(200);

        path {
            fill: $black;
        }
    }
    &.active {
        path:nth-child(1) {
            transform: rotate(45deg);
            transform-origin: 0 0;
        }
        path:nth-child(2) {
            opacity: 0;
        }
        path:nth-child(3) {
            transform: rotate(-45deg);
            transform-origin: 0 100%;
        }
    }
}
.c-nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: rem-calc(180);
    height: rem-calc(180);
    padding: 0;
    background: $primary-colour;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
    transition: all 1s ease;

    &.open {
        width: 200%;
        height: 200%;
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
    }
}
.c-nav__wrapper {
    position: fixed;
    top: 0;
    left: 0;
}
.c-nav__list {
}
.c-nav__item {
    display: block;
    margin: rem-calc(0 0 30 0);
}
.c-nav__link {
    display: inline-block;
    position: relative;
    color: $white;
    font-family: $title-font;
    font-size: rem-calc(50);
    text-transform: uppercase;

    &:visited {
        color: $white;
    }
    &:hover,
    &.router-link-active {
        color: $black;
    }
    &:before {
        content: "";
        display: block;
        position: absolute;
        right: rem-calc(1);
        bottom: rem-calc(-3);
        left: rem-calc(1);
        height: rem-calc(8);
        background-color: $black;
        transform: scaleX(0);
        transform-origin: 100% 50%;
        transition: transform .4s cubic-bezier(.23,1,.32,1);
    }
    &:hover:before {
        transform: scaleX(1);
        transform-origin: 0 50%;
        transition: transform 0 .4s cubic-bezier(.23,1,.32,1);
    }
}
.c-nav__social .c-nav__item {
    display: inline-block;
}
.c-nav__social .c-nav__item + .c-nav__item {
    margin-left:rem-calc(50);
}

@include bp_max(700) {
    .c-nav,
    .c-nav-trigger {
        width: rem-calc(120);
        height: rem-calc(120);

        &:hover {
            width: rem-calc(120);
            height: rem-calc(120);
        }
        &:hover path {
            fill: $white;
        }
        &.open:hover {
            width: 200%;
            height: 200%;
        }
    }
    .c-nav-trigger svg {
        top: 1.6vh;
        right: 1.6vh;
        width: rem-calc(30);
        height: rem-calc(30);
    }
    .c-nav__link {
        font-size: rem-calc(30);
    }
}
