/******************************************
POST
******************************************/
.c-post__date {
    display: block;
    font-size: rem-calc(16);

    time {
        padding: rem-calc(5 0);
        border-top: 2px solid #4a4a4a;
        border-bottom: 2px solid #4a4a4a;
    }
}
.c-post__category {
    display: inline-block;
    font-size: rem-calc(14);
}
.c-post__category + .c-post__category:before {
    display: inline-block;
    content: ",";
    margin-right: rem-calc(4);
}
.c-post {
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: rem-calc(30);
    }
    h2 {
        font-size: rem-calc(34);
    }
    h3 {
        font-size: rem-calc(30);
    }
    h4 {
        font-size: rem-calc(26);
    }
    h5 {
        font-size: rem-calc(22);
    }
    h6 {
        font-size: rem-calc(18);
    }
    a {
        position: relative;

        &:before {
            content: "";
            display: block;
            position: absolute;
            right: rem-calc(1);
            bottom: rem-calc(-3);
            left: rem-calc(1);
            height: rem-calc(2);
            background-color: $black;
            transform: scaleX(0);
            transform-origin: 100% 50%;
            transition: transform .4s cubic-bezier(.23,1,.32,1);
        }
        &:hover:before {
            transform: scaleX(1);
            transform-origin: 0 50%;
            transition: transform 0 .4s cubic-bezier(.23,1,.32,1);
        }
    }
    pre,
    code {
        background-color: $light-grey;
        border: 0;
        border-radius: 0;
    }
    pre {
        padding: rem-calc(16 20);

        code {
            color: $body-text;
        }
    }
    code {
        padding: rem-calc(3 6);
        color: $primary-colour;
        font-size: rem-calc(16);
    }
    blockquote {
        margin: rem-calc(30 0);
        padding: rem-calc(20 0 20 30);
        border-left: 10px solid $primary-colour;
        font-family: $serif-font;
        color: $body-text;

        p {
            font-size: rem-calc(18);
        }
    }
}

@include bp_max(500) {
    .c-post {
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-top: rem-calc(20);
        }
        h2 {
            font-size: rem-calc(22);
        }
        h3 {
            font-size: rem-calc(20);
        }
        h4 {
            font-size: rem-calc(18);
        }
        h5 {
            font-size: rem-calc(16);
        }
        h6 {
            font-size: rem-calc(14);
        }
    }
}
