/******************************************
POST LIST
******************************************/
.c-post-list {
    margin: 0 2rem 5rem;

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
    }

    .c-post {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 24rem;
        margin: 0;
        padding: 2rem;
        background-color: transparent;
        background-blend-mode: multiply;
        background-position: center;
        transition: background-color ease .2s;

        &:hover {
            background-color: #d90815;
        }

        h3 {
            margin: 0;
            line-height: 1.2;
        }

        &__date {
            padding: .5rem 0 0;
            font-size: 1.4rem;
        }
    }

    &__link {
        position: relative;
        color: $white;
    
        &:visited {
            color: $white;
        }
    }
}