/******************************************
POST
******************************************/
.heading__page--single {
    color: $black;
}
.c-single-post {
    margin-bottom: rem-calc(60);

    .c-post__date,
    .c-post__categories {
        text-align: center;
    }
    .c-post__date {
        margin-bottom: rem-calc(10);
    }
    .c-post__categories {
        margin-bottom: rem-calc(30);
    }
    .c-post__content pre code,
    .c-post__content blockquote > * {
        @extend .c-wrapper;
        display: block;
        margin-bottom: rem-calc(30);
    }
    .c-post__content {
        p a:hover {
            padding: rem-calc(2 5);
            background-color: $black;
            color: $white;
        }
        h3 {
            font-size: rem-calc(20);
        }
    }
}
