/******************************************
NAV
******************************************/
.nav {
    &__item {
        display: inline-block;
        margin: 0;
    }
    &__link {
        display: inline-block;
        position: relative;
        padding: 6px 10px;
        border: 0;
        color: $white;
        font-style: italic;
        font-weight: 900;
        text-decoration: none;
        text-transform: uppercase;

        &:hover,
        &.router-link-active {
            background-color: $white;
            color: $black;
        }
    }
}
