/******************************************
FONTS
******************************************/
@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    //   src: url('#{$file-path}.eot');
    //   src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
    //        url('#{$file-path}.woff') format('woff'),
        src:url('#{$file-path}.ttf') format('truetype');
        //    url('#{$file-path}.svg##{$font-family}') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
  }
  // Chrome for Windows rendering fix: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
      font-family: $font-family;
        src: url('#{$file-path}.svg##{$font-family}') format('svg');
    }
  }
}

@include font-face("Antonio", '../../fonts/Antonio-Bold', 700, normal);

@mixin Antonio-Bold {
  font-family: 'Antonio', arial, serif;
  font-weight: 700;
  font-style: normal;
}
