<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {% include head.html %}

    <body class="home">
        {% include nav.html %}
        {% include nav-trigger.html %}

        <main class="c-wrapper--home" aria-label="Content">
            <h1 class="c-heading--site">{{ site.title }}</h1>
            <h2 class="c-heading--tagline">{{ page.tagline }}</h2>
        </main>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
        <script src="/assets/js/nav.js"></script>
    </body>

</html>
