<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {% include head.html %}

    <body class="home">
        {% include nav.html %}
        {% include nav-trigger.html %}

        <div class="hero hero--home" style="background-image: url(/assets/img/plough-lane.jpg);">
            <h1 class="c-heading--page">{{ site.title }}</h1>
        </div>

        {% if site.posts.size > 0 %}
            <div class="c-post-list">
                <ul class="u-no-list">
                    {% for post in site.posts %}
                        <li class="c-post" style="background-image: url(/assets/img/{{ post.hero }});">
                            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                            <h3 class="c-heading--post">
                                <a class="c-post-list__link" href="{{ post.url | relative_url }}">
                                    {{ post.title | escape }}
                                </a>
                            </h3>
                            <span class="c-post__date">{{ post.date | date: date_format }}</span>
                            {% if site.show_excerpts %}
                                {{ post.excerpt }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% include scripts.html %}
    </body>

</html>
